.footer
  .container-fluid
    .col-md-10.col-md-offset-1

      if (pageid != 'home')
        hr
      p.text-muted
        span.glyphicon.glyphicon-copyright-mark
        |  2011-2014, Nyk Ma. Powered by node.js and
        a(href="https://www.digitalocean.com/?refcode=7cf91fe08216")  DigitalOcean
        | .
      block footer

