head
  title= headtitle
  meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='apple-touch-icon-precomposed', href='/img/kodachi.png')
  block header
