doctype html
html
  include header
  body
    include navbar
    block content
    if (pageid!="ab")
      include footer
  script(src="/js/jquery-2.1.1.min.js")
  script(src="/js/bootstrap.min.js")
  block append
