nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Nayuki's
    .navbar-collapse.collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        - if(pageid == 'home')
          li.active
            a(href='/') Info
        - else
          li
            a(href="/") Info
        - var obj = {'/archive':'Archive', '/cv':'CV', '/npg':'PassGen' ,'#':'coming soon...' }
          - each val, index in obj
            - if (index == ("/" + pageid))
              li.active
                a(href='#{index}') #{val}
            - else
              li
                a(href='#{index}') #{val}
  block navbarcontent
