h1 马越
hr
article#cv-exp
  h2 工作经历
  section#cv-exp-1
    h3 数据中心规划工程师
      small  腾讯（实习）
        span.label.label-default 2013.7 - 2013.8
    p 学习了与 IDC 规划与设计相关的知识，如园区规划、机房供电、制冷、管线、监控、消防等。
    p 实习重点为机房供电模型，评估了目前流行的机房供电方案，并对数据中心 HVDC 的发展前景作出展望。
  section#cv-exp-2
    h3 网站前端设计员
      small  西安交通大学先锋网络工作室
        span.label.label-default 2012.05 - 2013.01
    p 负责西安交大电气学院官方网站和就业指导简报的制作，涉及大量 Web 前端设计，同时也学习了 ASP.net 、SQL Server 相关维护技术。
  section#cv-exp-3
    h3 系统维护员
      small 西安交通大学 e 瞳网
        span.label.label-default 2010.09 - 2011.10
    p 「
      a(href="http://www.eeyes.net/") e 瞳网
      |」为西安交大校内影响力最大的学生自办网站。任职期间的主要工作为网站服务器的系统层监控、除错和应急处理。
hr
article#cv-js
  h2 作品 - JavaScript
  section#cv-js-1
    h3 nayuki.info
      small
        a(href="http://code.nayuki.info/nayukis-site/src")
          span.glyphicon.glyphicon-info-sign
        span.label.label-info nodejs
        span.label.label-info bootstrap
    p 本站框架。
  section#cv-js-2
    h3 nayuki.info/archive
      small
        span.label.label-info nodejs
        span.label.label-info raneto-core
    p 一个不使用数据库，仅靠目录结构、markdown 和社会化评论工作的博客站点。
    blockquote.small 我正在做修改<code> raneto-core </code>的工作，
      a(href="https://github.com/moenayuki/kaineto-core") 见此
      | 。
  section#cv-js-3
    h3 nayuki.info/npg
      small
        a(href="https://github.com/moenayuki/npg")
          span.glyphicon.glyphicon-info-sign
        span.label.label-info ajax
    p 一个自用的密码生成器。前端使用 Ajax 与服务器通信。
  section#cv-js-4
    h3 nayuki.info/ab
      small
        span.label.label-warning BUILDING...
        span.label.label-info SQLite
    p 一个自用的账本。施工中。
  section#cv-js-5
    h3 #自古CB出评论
      small
        a(href="https://github.com/moenayuki/CnBeta-comment-share-plugin")
          span.glyphicon.glyphicon-info-sign
        span.label.label-info jQuery
    p 一个本来是自用，后来被官方收编了的
      a(href="http://www.cnbeta.com") CnBeta.com
      | 评论分享插件。
hr
article#cv-e
  h2 作品 - 电子
  section#cv-e-1
    h3 基于 ARM 的可编程故障波形发生器
      small 毕业设计
        span.label.label-default 2014.05 - 2014.07
    p 使用 ST 公司的 STM32 ARM 平台搭建一个使用 USB 界面与上位机通信的波形发生器，供电力电子设备测试性能。内容主要分为 ARM 与电脑通信、ARM 驱动 DAC 生成波形、电脑端的控制软件三部分。
  section#cv-e-2
    h3 基于 MSP430 的低功耗温度计
      small 西安交通大学第二届电子运动会
        span.label.label-default 2014.03 - 2014.05
    p 使用 TI 公司的 MSP430 低功耗微处理器，在相同供电量的前提下，通过软硬件设计使温度计的工作时间尽可能长。本人主要负责系统的软件部分，研究了 MSP430 的低功耗模式及简单的串口通信方法。
  section#cv-e-3
    h3 无线充电系统
      small 2013 年 ADI 中国大学创新设计竞赛
        span.label.label-default 2013.4 - 2013.6
    p 使用 Analog Devices 公司的微处理器、电源管理和电力电子芯片开发一套简易的共振式无线充电系统。本人负责微处理器的软件部分，编写电量检测和射频功率算法。
hr
article#cv-edu
  h2 教育
  p.text-primary 学士
  p 电气工程与自动化
  p.text- 西安交通大学
    span.label.label-default 2010 -
hr
article#cv-cs
  h2 计算机技能
  h3#cv-cs-1 前端
  h4 初级
  ul
    li Python
    li php
    li SQL
  h4 中级
  ul
    li JavaScript
    ul
      li Node.js
      li jQuery
      li AngularJS
    li HTML
    ul
      li CSS
  h3#cv-cs-2 运维
  h4 中级
  ul
    li Linux
    li bash script
  h3#cv-cs-3 电子 / 嵌入式
  h4 初级
  ul
    li Verilog HDL
  h4 中级
  ul
    li Embedded Linux
    li Embedded C/C++
    ul
      li Freescale
      li MSP430
      li STM32
      li 51
    li PLC
    ul
      li SIEMENS S7
hr
article#cv-lang
  h2 语言技能
  ul
    li 中文：母语。
    li 英文：CET6 534分，能阅读专业文档。
    li 日文：N1，能阅读专业文档。
    li 德文：能日常交流。
hr
article#cv-self
  h2 自我评价
  p 业余爱好：轨道交通、钢琴、3C 产品评测。
  p 特点：乐于尝鲜、擅长操作、兼容性好。
hr
article#cv-target
  h2 目标职位
  // 嵌入式软件/硬件开发、数据中心规划或运维、后台开发、系统管理员等。
  ul
    li 数据中心规划或运维
    li Web前端开发
    li 嵌入式软件 / 硬件开发


