.container-fluid
  h2.text-center.text-warning BETA
  p Don't be panic.
  hr
  h2.text-center Contents
  ul.list-group
    - each catalog in pages
      - if (!catalog.title)
        li.list-group-item
          a(href="/archive") Home
      - else
        li.list-group-item(id="toggler_"+catalog.class ,data-toggle="collapse", data-target="#"+catalog.class) #{catalog.title}
          span.badge #{catalog.files.length}
        .collapse(id=catalog.class)
          - each file in catalog.files
            li.list-group-item.list-group-item-info
              a(href="/archive/"+file.slug, title=file.title) #{file.title}

  hr

  p
  img.img-rounded.center-block(src="/img/kodachi.png")
  p
  p.text-center Nyk Ma
  hr
  h2
    | License
  p Text:
    a(href="http://creativecommons.org/licenses/by-sa/4.0/")  CC BY-SA 4.0
  p Code:
    a(href="http://opensource.org/licenses/MIT")  MIT
  hr
  a.btn.btn-default.center-block.btn-success(href="/" + filepath)
    span.glyphicon.glyphicon-file
    |  Download .md
