@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-email20:before {
	content: "\e000";
}
.flaticon-facebook31:before {
	content: "\e001";
}
.flaticon-flickr5:before {
	content: "\e002";
}
.flaticon-foursquare6:before {
	content: "\e003";
}
.flaticon-github13:before {
	content: "\e004";
}
.flaticon-lastfm4:before {
	content: "\e005";
}
.flaticon-linkedin11:before {
	content: "\e006";
}
.flaticon-playstation2:before {
	content: "\e007";
}
.flaticon-sina:before {
	content: "\e008";
}
.flaticon-steam4:before {
	content: "\e009";
}
.flaticon-twitter21:before {
	content: "\e00a";
}
