extends inc/layout
append header
  link(rel='stylesheet', href='/css/dashboard.css')

block content
   .container-fluid
     .row
       .col-sm-3.col-md-2.sidebar
         include inc/ab_sidenav
       .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
         h1.page-header Dashboard
         h2.sub-header Details
         .table-responsive
           table.table.table-striped
             thead
               tr
                 th #
                 th 金额
                 th 介质
                 th 用户
                 th 事由
                 th 时间
                 th 备注
             tbody
               each res in query
                 tr
                   th #{res.ID}
                   th #{res.amount}
                   th #{res.method}
                   th #{res.user}
                   th #{res.reason}
                   th #{res.time}
                   th #{res.comment}
          include inc/footer