extends inc/layout
block append header
  link(rel='stylesheet', href='/css/github.css')
  script(src="/js/highlight.pack.js")
  link(rel='stylesheet', href='/css/archive.css')
  script hljs.initHighlightingOnLoad();

block content
  .container-fluid
    .row.clearfix
      .col-md-7.column.col-md-offset-1#archive
        .page-header
          h1 #{meta.title}
            small  #{meta.subtitle}
        != content
        hr
        include static/disqus.html

      .col-md-3.column
        include inc/sidenav

block footer
  p.text-muted /archive engined by
    a(href="https://npmjs.org/package/raneto-core")  raneto-core
    | . Written: #{written}. Last modified: #{last_modified}.
