//
   Created by moenayuki on 14-10-25.

extends inc/layout
block content
  .container-fluid
    .row.clearfix
      .col-md-1.column
      .col-md-7.column
        .page-header
          h1
            | 包含 "#{search}" 的文章：
        //- console.dir(searchResults)
        each page in searchResults
          h3
            a(href=page.slug) #{page.title}
          hr
          //#{page.excerpt}
        //#{searchResults}
      .col-md-3.column
        include inc/sidenav
      .col-md-1.column

    .row.clearfix
      .col-md-6.col-md-offset-3
        include static/disqus.html