extends inc/layout
block content
  .container-fluid
    .row
      .col-md-8.col-md-offset-1
        a.btn.btn-default.btn-info(href="etc/cv.pdf")
          span.glyphicon.glyphicon-briefcase
          |  PDF
        | &nbsp;
        a.btn.btn-default.btn-info(href="etc/cv_3.tex")
          span.glyphicon.glyphicon-pencil
          |  TeX
        section
          include inc/resume.jade
      .col-md-2
        p.text-success.text-center AVAILABLE
        img.img-thumbnail(src="/img/nykma.jpg")
        p.text-center 2013.07.20 @ Shenzhen
        hr
        nav#affix-nav.sidebar.hidden-xs
          ul.nav.sidenav.affix(data-spy='affix', data-offset-top='330')
            li.active
              a(href='#cv-exp') 工作经历
              ul.nav
                li
                  a(href='#cv-exp-1') 腾讯
                li
                  a(href='#cv-exp-2') 先锋网络工作室
                li
                  a(href='#cv-exp-3') e 瞳网
            li
              a(href='#cv-js') 作品 - JavaScript
              ul.nav
                li
                  a(href='#cv-js-1') nayuki.info
                li
                  a(href='#cv-js-2') nayuki.info/archive
                li
                  a(href='#cv-js-3') nayuki.info/npg
                li
                  a(href='#cv-js-4') nayuki.info/ab
                li
                  a(href='#cv-js-5') #自古CB出评论
            li
              a(href='#cv-e') 作品 - 电子
              ul.nav
                li
                  a(href='#cv-e-1') 基于 ARM 的可编程故障波形发生器
                li
                  a(href='#cv-e-2') 基于 MSP430 的超低功耗温度计
                li
                  a(href='#cv-e-3') 无线充电系统原型
            li
              a(href='#cv-edu') 教育
            li
              a(href='#cv-cs') 计算机技能
              ul.nav
                li
                  a(href='#cv-cs-1') 前端
                li
                  a(href='#cv-cs-2') 运维
                li
                  a(href='#cv-cs-3') 电子 / 嵌入式
            li
              a(href='#cv-lang') 语言技能
            li
              a(href='#cv-self') 自我评价
            li
              a(href='#cv-target') 目标职位

      //ul.nav#affix-nav(role="tablist", data-spy="affix", data-offset-top="330")
      //    li
      //      a(href="#cv-exp") 工作经历
      //    li
      //      a(href="#cv-js") 作品 - JavaScript
      //    li
      //      a(href="#cv-e") 作品 - 电子
      //    hr
      //    li
      //      a(href="#cv-edu") 教育
      //    li
      //      a(href="#cv-cs") 计算机技能
      //    li
      //      a(href="#cv-lang") 语言技能
      //    li
      //      a(href="#cv-self") 自我评价
      //    li
      //      a(href="#cv-target") 目标职位
    hr
    .row
      .col-md-6.col-md-offset-3.text-center
        h3 Fell free to ask me any question below.
        include static/disqus.html

block header
  style
    include static/cv.css

block append
  script $('body').scrollspy({ target: '#affix-nav' })
  //- script $('#toc').affix({offset:{top: 10,bottom: function () {return (this.bottom = $('.footer').outerHeight(true))}}})
