extends inc/layout.jade
block append header
  link(rel='stylesheet', href='/css/Flaticon/flaticon.css')
  link(rel='stylesheet', href='/css/index.css')

block navbarcontent
  .jumbotron.well.jumbotron-nayuki
    .container
      h1 Nayuki's Info
      p 看动画片，玩游戏机。焊小电子，写短代码。
      p 知错就匿，无萌可卖。不学无术，好吃懒做。

  .container
    .row.clearfix
      .col-md-12.column
        #tabs-230412.tabbable
          ul.nav.nav-pills.nav-justified
            li
              a(href='#tachiba', data-toggle='tab') 立场
            li.active
              a(href='#renraku', data-toggle='tab') 联络
            li
              a(href='#sakuhin-web', data-toggle='tab') Web
            li
              a(href='#sakuhin-acg', data-toggle='tab') ACG翻译
            li
              a(href='#sakuhin-denki', data-toggle='tab') 大学
          .tab-content
            #tachiba.tab-pane
              p
              blockquote
                | 如果你谈话的目的是「说服对方」，那就不要和立场坚定的人浪费时间。
                small 名雪
              p 所以，如果你要和我辩论以下议题，请高抬贵手。
              .panel.panel-success
                .panel-heading
                  h3.panel-title 咸豆腐脑
                .panel-body
                  p 豆腐脑当早饭吃。早饭吃甜的，一天腻得慌。
              .panel.panel-default
                .panel-heading
                  h3.panel-title 不越狱
                .panel-body
                  p 别自作聪明，除非你清楚你在做什么，以及要承担什么后果。
              .panel.panel-default
                .panel-heading
                  h3.panel-title 请注意倒车
                .panel-body
                  p 你随便上一辆大卡车，挂上倒档就明白了。
                  p
                    small 不过据说这发声模块有两种版本，我只听过这一种。
              .panel.panel-danger
                .panel-heading
                  h3.panel-title
                    a(href='http://bgm.tv/person/2481') 京
                    | 黑
                .panel-body
                  p
                    | 《
                    a(href='http://bgm.tv/subject/276') LS
                    | 》之后，再无京都。
              .panel.panel-danger
                .panel-heading
                  h3.panel-title
                    a(href='http://bgm.tv/person/47') Key
                    | 黑
                .panel-body
                  p
                    | 《
                    a(href='http://bgm.tv/subject/232') Air
                    | 》之后，再无钥匙。
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    a(href='http://bgm.tv/character/12528') 养鸡
                .panel-body
                  p 要不是养鸡这么努力地当男猪的人生导师，男猪会鼓起勇气迈出第一步么？
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    a(href='http://bgm.tv/character/13390') 雪菜
                .panel-body
                  p 据说大脑简单的男人都喜欢冬马。
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    a(href='http://bgm.tv/character/423') 世界
                .panel-body
                  p 理由同养鸡。
            #renraku.tab-pane.active
              p
              table.table.table-hover
                tr
                  td
                    span.flaticon-email20
                  td
                    | moe#nayuki.info (
                    a(href='http://pgp.mit.edu:11371/pks/lookup?search=0xC385E926&op=vindex') 0xC385E926
                    | )
                tr
                  td
                    span.flaticon-twitter21
                  td
                    a(href='https://twitter.com/bgm38') @bgm38
                tr
                  td
                    span.flaticon-facebook31
                  td
                    a(href='https://facebook.com/moenayuki') moenayuki
                tr
                  td
                    span.flaticon-sina
                  td
                    a(href='http://weibo.com/moenayuki') nykma
                tr
                  td
                    span.flaticon-linkedin11
                  td
                    a(href='https://www.linkedin.com/in/nykma') nykma
                tr
                  td
                    span.flaticon-github13
                  td
                    a(href='https://github.com/moenayuki') moenayuki
                tr
                  td
                    span.flaticon-flickr5
                  td
                    a(href='http://www.flickr.com/people/moenayuki/') moenayuki
                tr
                  td
                    span.flaticon-lastfm4
                  td
                    a(href='http://cn.last.fm/user/moenayuki') moenayuki
                tr
                  td
                    span.flaticon-foursquare6
                  td
                    a(href='https://foursquare.com/bgm38') Nyk Ma
                tr
                  td
                    span.flaticon-steam4
                  td
                    a(href='http://steamcommunity.com/id/menyk') MeNyK
                tr
                  td
                    span.flaticon-playstation2
                  td
                    a(href='http://psnprofiles.com/MeNyK') MeNyK
            #sakuhin-web.tab-pane
              p
              .panel.panel-default
                .panel-heading
                  h3.panel-title #自古CB出评论
                .panel-body
                  | 一个分享
                  a(href='http://www.cnbeta.com/') cnBeta.com
                  | 评论的、基于 jQuery 的插件。已被官方并入。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-info(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                    span.sr-only 45% Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title nayuki.info
                .panel-body
                  | 本站主体。Node.js(Express + Jade) + Bootstrap
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-success.active(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                    span.sr-only 80% Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    a(href='http://blog.nayuki.info') blog.nayuki.info
                .panel-body
                  | 一个基于 jekyll 的静态博客站点。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-info(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width: 70%;')
                    span.sr-only 70% Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title nayuki.info/archive
                .panel-body
                  | 一个基于 Node 的、不使用数据库的、自动渲染 markdown 的博客引擎。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                    span.sr-only 100% Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title nayuki.info/npg
                    a(href="https://github.com/moenayuki/npg")
                      span.glyphicon.glyphicon-info-sign
                .panel-body
                  | 一个短语加密器。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                    span.sr-only 100% Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title nayuki.info/ab
                .panel-body
                  | 一个账本。
                .progress
                  .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                    span.sr-only 20% Complete
            #sakuhin-acg.tab-pane
              p
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    a(href='http://manhua.dmzj.com/wdjsnybknzmka') りびんぐでっど！
                .panel-body
                  | 我与僵尸女友的爆笑同居生活！
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-warning(role='progressbar', aria-valuenow='46', aria-valuemin='0', aria-valuemax='59', style='width: 78%;')
                    span.sr-only Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title ぷちますっ！②
                .panel-body
                  | iM@s 四格。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-warning(role='progressbar', aria-valuenow='15', aria-valuemin='0', aria-valuemax='109', style='width: 14%;')
                    span.sr-only Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title 君の名残は静かに揺れて
                .panel-body
                  | FlyableHeart 重磅诚意后日谈。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-danger.active(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='12', style='width: 42%;')
                    span.sr-only Complete
            #sakuhin-denki.tab-pane
              p
              .panel.panel-default
                .panel-heading
                  h3.panel-title 西安交通大学一站式教育网解决方案
                .panel-body
                  | 如何在各种不同平台上接入西安交通大学教育网。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                    span.sr-only Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title 竞赛：低功耗温度计
                .panel-body
                  | 使用 MSP430 平台，每5秒串口回报一次当前温度。省电死亡赛。未获名次。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-danger(role='progressbar', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100', style='width: 55%;')
                    span.sr-only Complete
              .panel.panel-default
                .panel-heading
                  h3.panel-title 毕业设计：波形发生器
                .panel-body
                  | STM32F103 + DAC ，通过 USB 介面与电脑通信，生成电力电子设备调试用的三相短路暂态波形。
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                    span.sr-only Complete

block footer
  p.text-muted  Font generated by
    a(href='http://www.flaticon.com')  flaticon.com
    |  under
    a(href='http://creativecommons.org/licenses/by/3.0/')  CC BY
    | . The authors are:
    a(href='http://www.freepik.com')  Freepik
    | ,
    a(href='http://www.simpleicon.com')  SimpleIcon
    | ,
    a(href='http://www.icomoon.io')  Icomoon
    | ,
    a(href='http://www.danielbruce.se')  Daniel Bruce
    | .
    | Headimage &copy; FLAT.
