extends inc/layout
block content
  .container
    .row
      .col-md-3
        div.input-group
          span.input-group-addon Key1
          input#key1.form-control(type="text", placeholder="Key1", value= key1)
      .col-md-3
        div.input-group
          span.input-group-addon Key2
          input#key2.form-control(type="text", placeholder="Key2", value= key2)
      .col-md-2
        span.input-group-btn
          button#save.btn.btn-default Save
        p#ok.text-success(style="display: none;") Success!
    p
      small Your keys will be stored in the browser for 5 days.
    p
      small If you want to delete them,
        a#delete  click here.
  script(src = "/js/jquery-cookie.js")
  script(src = "/js/npgkey.js")