.jumbotron-nayuki {
  text-align: left;
  background-image: url("/img/index-jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
}