body {
  position: relative;
}
ul.affix {
  position: fixed;
  top: 50px;
  width: 225px;
}
ul.affix-top {
  position: static;
}
ul.affix-bottom {
  position: absolute;
}

.sidenav {
  background-color: transparent;
}

.sidebar .nav > li > a {
  display: block;
  color: #60737a;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #16497c;
  background-color: transparent;
}

.sidebar .nav .nav {
  display: none;
}
.sidebar .nav > li.active .nav {
  display:block;
}
.sidebar .nav .nav {
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

blockquote.small {
  font-size: small;
}

span {
  margin-left: 2px;
  margin-right: 2px;
}
